@model IEnumerable<QuanLySach.Models.book>

@{
    if (Session["id"] != null)
    {
        ViewBag.Title = "Sách sắp ra mắt";
        Layout = "~/Views/Shared/LayoutKH.cshtml";
    }
    else
    {
        ViewBag.Title = "Sách sắp ra mắt";
        Layout = "~/Views/Shared/Layout.cshtml";
    }
}
<h1 class="fw-bold mb-4" style="font-family: EB Garamond; font-size: 116px; transform: translate(76px); margin-top: 100px" align="center">SÁCH SẮP RA MẮT</h1>
<div class="container-fluid" style="padding-top: 100px">
   
    <div class="row px-xl-5 pb-3">
        @{
            foreach (var item in Model)
            {
                if (item == null) { continue; }
                @Html.Action("ComingSoon", "Sach", new { id = item.id })
            }
        }
    </div>
</div>
